.todosList {
  padding: 1rem;
  background-color: rgb(230, 244, 245);
  list-style: none;
}

.todoList {
  margin: 1rem;
}

.todosName {
  margin: 1rem;
  font-size: large;
}
.todosName:hover{
  opacity: 70%;
}

.todo_name{
  color: rgb(225, 113, 113);
  text-decoration: line-through;
}

.deleteBtn {
  margin: 0px 40px;
  color:rgb(236, 229, 229);
  background-color: rgb(198, 99, 99);
  width: 8rem;
  border-radius: 7px;
  padding: 6px;
}
.deleteBtn:hover{
  opacity: 60%;
}

h2{
  text-align: center;
  color: rgb(69, 64, 64);
}

@media (max-width:600px) {
  .deleteBtn {
    margin: 0px 20px;
    width: 6rem;
    padding: 4px;
  }
}
@media (max-width:425px) {
  .deleteBtn {
    margin: 0px 20px;
    width: 4rem;
    padding: 3px;
  }
}