.todosList {
  padding: 1rem;
  background-color: rgb(230, 244, 245);
  list-style: none;
}

.todoList {
  margin: 1rem;
}

.todosName {
  margin: 1rem;
  font-size: large;
}
.todosName:hover{
  opacity: 70%;
}

.todo_name{
  color: rgb(225, 113, 113);
  text-decoration: line-through;
}

.deleteBtn {
  margin: 0px 40px;
  color:rgb(69, 15, 15);
  background-color: rgb(126, 237, 217);
  width: 8rem;
  border-radius: 7px;
  padding: 6px;
}
.deleteBtn:hover{
  opacity: 60%;
}