#root {
  max-width: 1380px;
  margin: 0 auto;
  padding: 1rem;
  
}
main{
  background-color: rgb(241, 236, 236);
  padding: 1rem;
}

main .todo_title{
  text-align: center;
  text-decoration: underline;
  color: rgb(68, 61, 61);
}
@media (max-width:700px) {
  main .todo_title{
    font-size: 1.5rem;
  }
}
@media (max-width:400px) {
  main .todo_title{
    font-size: 1.3rem;
  }
}
@media (max-width:355px) {
  main .todo_title{
    font-size: 1rem;
  }
}